.TitleBook {
  position: sticky;
  width: 100vw;
  background: #000000;
  border-radius: 0 0 20px 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(243, 216, 166);
  transition: 500ms;
  h4,
  h5 {
    text-align: center;
  }
  h5 {
    color: #ffffff;
  }
}
