.ChapterLink {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: calc(100% / 2);
  align-items: center;
  justify-content: center;
  transition: 500ms;
  padding: 10px;

  cursor: pointer;

  img {
    width: 30px;
    height: 30px;
  }

  p {
    margin: 0;
    font-size: 15px;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
    font-weight: bold;
  }
}
