@font-face {
  font-family: "Logo";
  src: url("../../fonts/logo.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.FormHeader {
  display: flex;
  flex-direction: column;
  header {
    display: flex;
    position: relative;

    flex-direction: row;

    justify-content: center;

    align-items: center;
    gap: 10px;
    h1 {
      margin: 0;
      font-family: "Logo";
      @media (max-width: 575px) {
        font-size: 20px;
      }

      @media (min-width: 576px) and (max-width: 767px) {
        font-size: 50px;
      }

      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 50px;
      }

      @media (min-width: 992px) and (max-width: 1999px) {
        font-size: 50px;
      }
      @media (min-width: 2000px) {
        font-size: 50px;
      }
    }
    img {
      @media (max-width: 575px) {
        width: 30px;
        height: 30px;
      }

      @media (min-width: 576px) and (max-width: 767px) {
        width: 80px;
        height: 80px;
      }

      @media (min-width: 768px) and (max-width: 991px) {
        width: 80px;
        height: 80px;
      }

      @media (min-width: 992px) and (max-width: 1999px) {
        width: 80px;
        height: 80px;
      }
      @media (min-width: 2000px) {
        width: 80px;
        height: 80px;
      }
    }
  }
  main {
    h2 {
      text-align: center;
    }
  }
}
