.ContentsBook {
  flex: 1;
  width: 100%;
  margin-bottom: 70px;
  overflow-y: auto;
  padding: 10px;
  .main {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
}
