@font-face {
  font-family: "Logo";
  src: url("../../fonts/logo.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.header {
  display: flex;

  flex-direction: row;

  justify-content: center;

  align-items: center;

  position: fixed;

  padding: 10px;

  top: 0;

  gap: 10px;

  color: rgb(243, 216, 166);

  background: #000000;

  img {
    width: 50px;
    height: 50px;
  }

  h1 {
    margin: 0;
    font-family: "Logo";
  }

  @media (max-width: 575px) {
    width: 100%;
  }

  @media (min-width: 576px) and (max-width: 767px) {
    width: 100%;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    width: 100%;
  }

  @media (min-width: 992px) and (max-width: 1999px) {
    width: 880px;
  }
  @media (min-width: 2000px) {
    width: 880px;
  }
}
