@font-face {
  font-family: "Logo";
  src: url("../../fonts/logo.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.header {
  display: flex;

  position: relative;

  flex-direction: row;

  justify-content: center;

  align-items: center;

  position: sticky;

  padding: 20px;

  height: 70px;

  background: #000000;

  top: 0;

  gap: 10px;

  color: rgb(243, 216, 166);

  img {
    width: 50px;
    height: 50px;
  }

  h1 {
    margin: 0;
    font-family: "Logo";
  }

  .back {
    cursor: pointer;

    position: absolute;

    width: 50px;

    height: 50px;

    left: 10px;

    background: url(back.svg);

    background-repeat: no-repeat;

    background-size: 50%;

    background-position: center;

    outline: none;

    border: none;

    padding: 10px;
  }

  width: 100%;
}
