.footer {
  display: flex;

  flex-direction: row;

  justify-content: center;

  position: sticky;

  background: #000000;

  bottom: 0;

  height: 70px;

  border-radius: 20px 20px 0 0;

  p {
    color: rgb(243, 216, 166);
  }

  width: 100%;
}
